<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/all_data">All Data</a>
    <br>
    <a href="/european_countries">European Countries</a>
    <br>
    <a href="/all_data_sorted_by_population_increasing_order">All Data Sorted By Population (Increasing)</a>
    <br>
    <a href="/all_data_sorted_by_population_decreasing_order">All Data Sorted By Population (Decreasing)</a>
    <br>
    <a href="/population_greater_than_100_million">Population Greater Than 100 Million</a>
    <br>
    <a href="/population_less_than_20_million">Population Less Than 20 Million</a>
    <br>
    <a href="/population_density_between_50_and_150">Population Density Between 50 and 150 Million</a>
    <br>
    <a href="/highest_gni_per_capita_in_asia">Highest GNI Per Capita In Asia</a>
    <br>
    <a href="/third_lowest_gni_per_capita_in_south_america">Third Lowest GNI Per Capita In South America</a>
    <br>
    <a href="/all_countries_not_in_europe">All Countries Not In Europe</a>
    <br>
    <a href="/all_data_country_name_and_population_only">All Data, Country Name And Population Only</a>
    <br>
    <a href="/south_american_countries_hide_population">South American Countries, Hide Population</a>
    <br>
    <a href="/countries_not_in_asia_hide_gni_per_capita_and_population_density">Countries in Asia, Hide GNI Per Capita and Population Density</a>
  </body>
</html>
